*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p.text{
    color: red;
    font-size: 50px;
    width: 100px;
    padding-right: 25px;
}

.boxes{
    height: 300px;
    width: 500px;
    background-color: black;
    /*
    position: relative;
    */

}

.box{
    height: 50px;
    width: 50px;
    background-color: yellow;
}

.box:nth-child(2){
    background-color: purple;

    /* CENTERING
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    */

}